<div class="text-center mt-5">
  <h3>Your matches - {{ pagination?.totalItems }} found</h3>
</div>
<div class="container mt-3">
  <form
    #form="ngForm"
    class="form-inline mb-3"
    (ngSubmit)="loadMembers()"
    autocomplete="off"
  >
    <div class="form-group">
      <label>Age from: </label>
      <input
        type="number"
        [(ngModel)]="userParams.minAge"
        class="form-control ml-1"
        style="width: 70px"
        name="minAge"
      />
    </div>
    <div class="form-group px-2">
      <label>Age to: </label>
      <input
        type="number"
        [(ngModel)]="userParams.maxAge"
        class="form-control ml-1"
        style="width: 70px"
        name="maxAge"
      />
    </div>
    <div class="form-group px-2">
      <label>show: </label>
      <select
        type="number"
        [(ngModel)]="userParams.gender"
        class="form-control ml-1"
        style="width: 70px"
        name="gender"
      >
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary ml-1">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-info ml-1">
      Reset Filters
    </button>
    <div class="col">
      <div class="btn-group float-right">
        <button
          class="btn btn-primary"
          type="button"
          [(ngModel)]="userParams.orderBy"
          name="orderBy"
          btnRadio="lastActive"
          (click)="loadMembers()"
        >
          Last Active
        </button>
        <button
          class="btn btn-primary"
          type="button"
          [(ngModel)]="userParams.orderBy"
          name="orderBy"
          btnRadio="createdAt"
          (click)="loadMembers()"
        >
          Newest Members
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div *ngFor="let member of members" class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChange($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
